<footer>
  <div class="container">
    <div id="contacts" class="row">
      <div class="col">
        <a href="https://www.unipd.it" target="_blank"><img class="unipd-logo small-img" src="../img/logo_unipd_dei.png"></a>
      </div>
      <div class="col">
        <p>Contatta il team di NoBis <br> <a href="nobis.team@gmail.com">nobis.team@gmail.com</a></p>
        <a href="/privacy-policy" target="_blank">Privacy Policy</a> | <a href="/cookie-policy" target="_blank">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>