<footer>
  <div class="container">
    <div id="contacts" class="row">
      <div class="col">
        <a href="https://www.unipd.it" target="_blank"><img class="unipd-logo small-img" src="../img/logo_unipd_dei.png"></a>
      </div>
      <div class="col">
        <p>Progettato e Sviluppato da <br>
          <a href="mailto:mattia.avanzi@studenti.unipd.it">Mattia Avanzi</a> |
          <a href="mailto:giulia.cisotto@dei.unipd.it">Giulia Cisotto</a> |
          <a href="mailto:riccardo.coniglio@studenti.unipd.it">Riccardo Coniglio</a> |
          <a href="mailto:giordani@dei.unipd.it">Marco Giordani</a>
        </p>
        <a href="/privacy-policy" target="_blank">Privacy Policy</a> | <a href="/cookie-policy" target="_blank">Cookie Policy</a>
      </div>
    </div>
  </div>
</footer>