<div id="info">
  <div class="container">
    <div class="row">
      <p>
        NoBis è un servizio <strong>anonimo</strong> che consente ai propri utenti di monitorare in tempo reale 
        lo stato di affollamento dei locali supportati per adattare la
        propria mobilità conseguentemente. L’obiettivo di NoBis è di stimolare le persone ad evitare gli
        spostamenti verso le zone che risultano eccessivamente affollate, al fine di ridurre le opportunità di
        assembramento e, quindi, di contagio.<br><br>
        NoBis è basato sulla tecnologia del codice QR. L'utente è invitato ad inquadrare con il proprio smartphone i
        codici QR posti in prossimità dell’ingresso ed uscita del luogo di interesse al fine di registrare
        rispettivamente operazioni di check-in e check-out a tali luoghi. Accedendo al sito web nobis.dei.unipd.it sarà
        quindi possibile visualizzare una mappa con le aree universitarie a cui è assegnato un colore in base al
        “livello di affollamento”.
      </p>
    </div>
  </div>
</div>