<div id="place" place-uuid="{{placeUUID}}">
	<div class="container">
		<div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
			<div class="card">
				<div class="row">
					<img class="unipd-logo small-img" src="../brand/{{brand}}.png">
				</div>
				<div class="row">
					<h5>{{placeName}}</h5>
				</div>
				<div class="row">
					<h6>{{buildingName}}</h6>
				</div>
				<hr>
				<div class="row">
					<div id="session-expired" class="alert alert-danger" role="alert">
						<h4 class="alert-heading">Check-In già effettuato</h4>
						<p>Hai effettuato da poco il Check-In in questo luogo, sei sicuro di voler effettuare nuovamente
							questa operazione?</p>
					</div>
				</div>
				<div class="row text-center">
					<button id="manual-checkin" type="button" class="btn btn-primary">Effettua Check-In</button>
				</div>
				<div class="row">
					<svg id="checkmark" class="checkmark showCheckIn" xmlns="http://www.w3.org/2000/svg"
						viewBox="0 0 52 52">
						<circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none" />
						<path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" /></svg>
					<svg id="closemark" class="closemark showCheckInStopped" height="329pt" viewBox="0 0 329.26933 329"
						width="329pt" xmlns="http://www.w3.org/2000/svg">
						<circle class="closemark__circle" cx="26" cy="26" r="25" fill="none" />
						<path
							d="m194.800781 164.769531 128.210938-128.214843c8.34375-8.339844 8.34375-21.824219 0-30.164063-8.339844-8.339844-21.824219-8.339844-30.164063 0l-128.214844 128.214844-128.210937-128.214844c-8.34375-8.339844-21.824219-8.339844-30.164063 0-8.34375 8.339844-8.34375 21.824219 0 30.164063l128.210938 128.214843-128.210938 128.214844c-8.34375 8.339844-8.34375 21.824219 0 30.164063 4.15625 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921875-2.089844 15.082031-6.25l128.210937-128.214844 128.214844 128.214844c4.160156 4.160156 9.621094 6.25 15.082032 6.25 5.460937 0 10.921874-2.089844 15.082031-6.25 8.34375-8.339844 8.34375-21.824219 0-30.164063zm0 0" />
					</svg>
				</div>
				<div class="row">
					<h3 class="showCheckIn">Check-in Completato</h3>
					<h3 class="showCheckInStopped">Check-in Annullato</h3>
				</div>
				<div class="row">
					<p id="info">Entro 5 secondi il check-in sarà permanente. Premi sul bottone per annullare.</p>
				</div>
				<div class="row">
					<div id="countdown">
						<div id="countdown-number"></div>
						<svg>
							<circle r="36" cx="40" cy="40"></circle>
						</svg>
					</div>
				</div>
				<div class="row">
					<div class="col text-center">
						<button id="stop-check-in" type="button" class="btn btn-danger">Annulla Check-in</button>
					</div>
				</div>
				<hr>
				<div class="row question">
					<p class="report-problem-group">Il codice QR non è nel luogo giusto?</p>
				</div>
				<div class="row">
					<div class="col">
						<button id="report-problem" type="button"
							class="btn btn-secondary btn-sm report-problem-group">Segnala un problema</button>
					</div>
				</div>
				<div class="row">
					<form id="form-report-problem">
						<div class="form-label-group">
							<label for="inputProblem">Problema</label>
							<textarea id="inputProblem" name="inputProblem" class="form-control" rows="4" cols="50"
								required placeholder="Descrivi il problema"></textarea>
						</div>
						<div class="form-label-group">
							<button id="send-problem" type="button" class="btn btn-secondary btn-sm">Invia</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="../js/check-in.js"></script>