<div class="container">
  <div id="main" class="row">
    <h3>Cookie Policy</h3>
    <p class="policy-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis omnis dolor aperiam rem numquam eveniet maiores voluptates eos sunt quasi. Quisquam qui facilis magnam corrupti veritatis architecto inventore expedita porro.
    </p>
  </div>
</div>

{{> info}}

{{> footer}}