<div class="container">
  <div id="main" class="row">
    <h3>Privacy Policy</h3>
    <p class="policy-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi, tempora labore. Porro quaerat accusamus expedita illo at quod ipsam. Ipsa delectus adipisci vel labore repellendus sunt ipsum ex fugiat omnis.
    </p>
  </div>
</div>

{{> info}}

{{> footer}}