<div class="container">
  <div id="main" class="row">
    <h3>Privacy Policy</h3>
    <p class="policy-text">
       Ai sensi degli art. 13 e 14 del Regolamento Europeo 2016/679 (“Regolamento Generale sulla Protezione dei Dati”) presentiamo la seguente informativa sul trattamento dei dati personali. Di seguito si informa che:
       <ol>
        <li>L’interessato al trattamento dei dati personali è l’utente che si avvale del servizio NoBis, scansionando il relativo QR code.</li>
        <li>Non è richiesta alcuna registrazione al servizio e non verranno mai né raccolti né trattati i dati anagrafici degli utenti.</li>
        <li>I dati personali verranno utilizzati esclusivamente per calcolare la percentuale di affollamento del luogo a cui i soggetti accedono. L&#39;unico dato personale trattato nell&#39;erogazione del servizio è l&#39;indirizzo IP. Tuttavia, il dato non viene archiviato, né utilizzato per ulteriori finalità. I dati raccolti non permettono l’identificazione dell’utente, assicurando pertanto l’anonimato degli utilizzatori.</li>
        <li>La base giuridica del trattamento consiste nell’assenso implicito, per facta concludentia, che dà il soggetto nel momento in cui scansiona il QR code.</li>
        <li>I dati di accesso saranno utilizzati solamente per il periodo di permanenza nell’ufficio pubblico, ovvero il tempo compreso tra il check-in e il check-out, ed eventualmente impiegati, successivamente, in forma aggregata ed anonima a fini di indagini statistiche.</li>
        <li>I dati non saranno comunicati a soggetti esterni.</li>
        <li>I dati non saranno trasferiti in alcun caso in altri Paesi.</li>
        <li>I dati non saranno comunicati a soggetti esterni.</li>
        <li>Si ricorda che chi lascia i propri dati personali ha:
          <ul>
            <li>il diritto a essere informati su come e perché vengono trattati i suoi dati;</li>
            <li>il diritto all&#39;obiezione, cioè di chiedere all’organizzazione che elabora i dati personali - sulla base di un proprio legittimo interesse o come parte di un&#39;attività di interesse pubblico o per un&#39;autorità ufficiale – di non utilizzarli.</li>
          </ul>
        </li>
      </ol>  
    </p>
  </div>
</div>

{{> info}}

{{> footer}}