<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">
                    <img id="unipd-logo" src="/img/Logo_Universita_Padova.png">
                    <h5 class="card-title text-center" style="margin-bottom: 10px;">Ripristino Password Referente</h5>
                    <form class="form-signin" method="POST" action="/referent/changePassword">
                        <h4 class="text-center" style="margin-bottom: 20px;">{{email}}</h4>
                        <div class="form-label-group">
                            <input type="password" id="inputPassword" name="password" class="form-control"
                                placeholder="Password" required>
                            <label for="inputPassword">Password</label>
                        </div>
                        <div class="form-label-group">
                            <input type="password" id="inputPasswordCheck" class="form-control"
                                placeholder="Controllo Password" required>
                            <label for="inputPasswordCheck">Ripeti Password</label>
                        </div>
                        <div class="form-label-group">
                            <input type="number" name="refid" hidden class="form-control" value="{{refId}}">
                        </div>
                        <div class="form-label-group">
                            <input type="text" name="token" hidden class="form-control" value="{{token}}">
                        </div>
                        <hr>
                        <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Cambia
                            Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>