<div class="container">
  <div class="row">
    <div class="col search">

      <div class="row" id="searchbar-container">
        <form class="form-inline" id="search-form">
          <input class="form-control mr-sm-2 " id="searchbar-input" type="search" placeholder="Cerca un posto"
            aria-label="Search">
          <button class="btn btn-outline-success my-2 mr-sm-2" id="search-btn" type="submit">Cerca</button>
          <button class="btn btn-outline-success my-2 mr-sm-2" id="searchsurr-btn" type="submit">Dintorni della
            mappa</button>
        </form>
      </div>

      <!-- <div class="row" id="searchbar_options">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
            <label class="form-check-label" for="defaultCheck1">
              Default checkbox
            </label>
          </div>
        </div> -->

      <div class="row" id="search_result">
        <div class="alert-container">
          <div class="alert alert-success" id="search-alert" role="alert">
            This is a success alert—check it out!
          </div>
        </div>
        <div class="results_info">
          <div class="list-group" id="groupSearchResults">
          </div>
        </div>
      </div>

    </div>
    <div class="col map">
      <div id="interactive_map"></div>
    </div>
  </div>
</div>



<script src="../js/user-dashboard-map_v0_2.js"></script>
<script src="../js/user-dashboard_v0_2.js"></script>
{{!-- <script src="../js/user-dashboard-map.js"></script>
<script src="../js/user-dashboard.js"></script> --}}