body {
background-color: #f5f5f5 !important;
}

header{
  width: 100%;
  height: 120px;
  background-color: #fff;
  margin-bottom: 30px;
}

header p{
  line-height: 120px;
}

header h2{
  line-height: 1em;
  text-align: right;
  font-size: 40px;
  margin: 27px 0 0px;
}

header h3{
  text-align: right;
  font-size: 22px;
}

#main{
  margin-bottom: 20px;
}

#interactive_map {
  min-height: 300px;
  height: 602px;
}

#search-alert{
  margin-bottom: 8px;
}

.policy-text{
  text-align: justify;
}

.form-inline{
  width: inherit;
}

.unipd-logo{
  height: 200px;
  float: left;
  margin: 10px;
}

.unipd-logo.small-img{
  height: 80px;
  margin-top: 20px;
}

footer .unipd-logo.small-img{
  margin-top: 10px;
}

.building-name{
  font-size: 1.3em;
  margin-bottom: .25rem;
}

.clarifications{
  font-size: 12px;
  line-height: 1em;
  margin-top: 10px;
  padding-left: 10px;
}

.clarifications::before{
  content: "*";
  position: absolute;
  left: 1px;
}

.capacityinfo{
  font-size: 1.3em;
}

.badge-custom{
  background-color: #9b0014 !important;
  color: #fff !important;
}

.results_info{
  max-width: inherit !important;
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}

.alert-container{
  width: 100%;
}

.col.map{
  margin-bottom: 20px;
}

#searchsurr-btn{
  display: none;
}

footer {
  background-color: #fff;
}

footer p{
  margin-top: 10px;
}

#info{
  font-size: 12px;
  text-align: center;
  color: #fff;
  background-color: #9c9c9c;
}

#info p {
  width: 80%;
  margin: 20px auto;
}

#contacts{
  font-size: 14px;
}
#contacts .col{
  text-align: center;
}

#contacts{
  padding: 10px 0;
}

#contacts span{
  margin: 5px 0;
  display: block;
}

@media (max-width: 768px) {

  header{
    height: 80px;
  }

  header h2{
    line-height: 80px;
    font-size: 17px;
    margin:0;
  }

  header h3{
    display: none;
  }

  header p {
    line-height: 80px;
  }

  .unipd-logo.small-img{
    height: 60px;
  }

  .col.map, .col.search{
    flex: none;
  }

  #interactive_map{
    height: 300px;
    margin-bottom: 20px;
  }

  .results_info{
    height: auto;
  }

  .clarifications{
    margin-bottom: 30px;
  }
  
  .clarifications::before{
    left: 15px;
  }

  #search-form{
    display: block;
    width: 100%;
  }

  #searchbar-container, #search_result{
    margin-left: 0;
    margin-right: 0;
  }
  #searchsurr-btn{
    margin-left: 10px;
  }

  #contacts .col:first-child span{
    margin: 30px 0 15px;
  }

  #contacts .col span{
    margin: 15px 0 30px;
  }
}