body {
background-color: #f5f5f5 !important;
}

header{
  width: 100%;
  height: 120px;
  background-color: #fff;
  margin-bottom: 30px;
}

header p{
  line-height: 120px;
}

header h2{
  line-height: 120px;
  float: right;
}

#interactive_map {
  min-height: 300px;
  height: 600px;
}

.form-inline{
  width: inherit;
}

.unipd-logo{
  width: 200px;
  height: 200px;
  float: left;
  margin: 10px;
}

.unipd-logo.small-img{
  width: 100px;
  height: 100px;
}

.building-name{
  font-size: 1.3em;
  margin-left: 30px !important;
  padding: 5px;
  
}

.capacityinfo{
  font-size: 1.3em;
}

.badge-custom{
  background-color: #9b0014 !important;
  color: #fff !important;
}

.results_info{
  max-width: inherit !important;
  width: 100%;
  height: 480px;
  overflow-y: scroll;
}

.alert-container{
  width: 100%;
}

#searchsurr-btn{
  display: none;
}

@media (max-width: 768px) {

  header{
    height: 80px;
  }

  header h2{
    line-height: 80px;
    font-size: 17px;
  }
  header p {
    line-height: 80px;
  }

  .unipd-logo.small-img{
    width: 60px;
    height: 60px;
  }

  .col.map, .col.search{
    flex: none;
  }

  #interactive_map{
    height: 300px;
    margin-bottom: 20px;
  }

  .results_info{
    height: auto;
    margin-bottom: 20px;
  }

  #searchbar-container, #search_result{
    margin-left: 0;
    margin-right: 0;
  }
  #searchsurr-btn{
    margin-left: 10px;
  }
}